body{
    font-family: 'Times New Roman', Times, serif;    
}

.titulo-principal{
    color: rgb(26, 5,46);
    color: blueviolet;
    font-style: italic;
}
.font-titulos{
    font-family: 'Arial', sans-serif;
    font-weight: bolder;

}
.primeiro-titulo-secundario{
    color: rgb(26, 5,46);
    color: blueviolet;
    font-style: italic;
    font-size: 30px;
}
.titulo-secundario{
    text-align: center;
}
.segundo-titulo-secundario{
    color: rgb(26, 5,46);
    color: blueviolet;
    font-style: italic;
    font-size: 25px;

}

p{
    font-style: italic;
}




